
* {
  margin: 0;
  padding: 0;
  font-family: "Crete Rounded", Georgia, serif;
  font-size-adjust:0.5;
  font-weight:bold;
  font-style:normal;
}

body {
  background: none repeat scroll 0 0 #011C31;
  color: #FFFFFF;
}

#grid {
  width: 980px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -490px;
}

#grid div.vert {
  width: 139px;
  border: solid darkturquoise;
  border-width: 0 1px;
  margin-right: 19px;
}

#grid div.vert.first-line {
  margin-left: 19px;
}

#grid div.horiz {
  height: 19px;
  border-bottom: 1px dotted darkgray;
}

#nav {
  list-style: none;
  text-transform: uppercase;
}

#nav ul {
  float: right;
  margin-right: 3%;
}

#nav li {
  float: left;
  padding: 10px;
}

#nav a, #signup a {
  color: #CE8119;
}

#nav a:hover, #signup a:hover {
  color: #FFCF8F;
}

#signup a {
  margin-left: 8px;
  font-size: 1.1em;
}

#wrapper {
  margin: 0 auto;
  padding-top: 3%;
  text-align: center;
  width: 980px;
}

h1 {
}

#logo {
}

h2 {
  clear: both;
  font-size: 1.8em;
}

div#message {
  width: 600px;
  margin-left: 190px;
}

#message h3 {
  clear: both;
  color: #CE8119;
  margin-top: 15px;
}

#main {
  margin: 40px auto 0;
  text-align: center;
  width: 980px;
}

#main table {
  width: 100%;
}

#main td {
  font-size: 1.0em;
  padding: 3px;
}

#main li {
  font-size: 1.0em;
  padding: 3px;
}

input {
  padding: 3px;
  margin: 5px 0 5px 15px;
  font-size: 0.9em;
}

.btn {
  -moz-border-radius: 8px 8px 8px 8px;
  border-radius: 8px 8px 8px 8px;
  background: none repeat scroll 0 0 #175585;
  border: 3px solid #C0C0C0;
  color: #FFFFFF;
  font-size: 1.2em;
  padding: 7px;
  margin: 40px 22px;
  width: 200px;
}

.btn:hover {
  background: none repeat scroll 0 0 #96D1FF;
  border: 3px solid #175585;
  color: #175585;
}

#login.btn {
  margin-left: 129px;
}

#signup.btn {
  margin-left: 114px;
}

div#device_profile {
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: none repeat scroll 0 0 #FFF;
  border: 8px solid #CE8119;
  color: #000;
  width: 490px;
  margin-left: 235px;
  padding-top: 30px;
}

a {
  color: #96D1FF;
  text-decoration: none;
}

a:hover {
  color: #EAF6FF;
}

ul {
  list-style: none;
}


