%h1 Add User
%form
  %ul
    %li
      %input{:name => 'firstname'} Firstname
    %li
      %input{:name => 'lastname'} Lastname
    %li
      %input{:name => 'email'} Email
    %li
      %input{:name => 'url'} URL
    %li
      %input{:name => 'tz'} Timezone
    %li
      %input{:name => 'password1'} Password
    %li
      %input{:name => 'password2'} Password repeat
    %li
      %input{:name => 'submit', :type => 'submit', :value => 'Add User'}
